In [11]:
import sys
import urllib.parse
import requests
from alpha_vantage.timeseries import TimeSeries 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [12]:
API_key = '5DSE3C5SKVGXPHNX'
ts = TimeSeries(key=API_key, output_format='pandas')
companies = ['BVN', 'GOLD', 'NEM', 'KGC', 'HMY', 'CDE', 'GFI']

In [13]:


def stock_comps_API(companies, ts):
    merged_data = pd.DataFrame()  
    
    for ticker in companies:
        data, meta_data = ts.get_daily(symbol=ticker, outputsize='full')
        close_prices = data['4. close']
        close_prices.name = ticker
        merged_data = pd.concat([merged_data, close_prices], axis=1)
        
    merged_data.index = pd.to_datetime(merged_data.index)
    data_range = pd.bdate_range(start='2004-01-01', end='2024-07-01')
    valid_dates = data_range.intersection(merged_data.index)
    merged_data = merged_data.loc[valid_dates]
    return merged_data

# Call the function
goldshift_df = stock_comps_API(companies, ts)

In [14]:
goldshift_df

              BVN   GOLD    NEM   KGC    HMY   CDE    GFI
2004-01-02  28.83  22.98  48.64  8.08  16.56  5.90  14.24
2004-01-05  29.98  23.40  49.75  8.53  17.03  6.67  14.70
2004-01-06  29.55  22.95  48.84  8.18  16.88  6.66  14.50
2004-01-07  27.85  22.72  47.44  7.87  16.63  6.13  14.18
2004-01-08  28.00  22.62  47.90  7.91  16.77  6.24  14.07
...           ...    ...    ...   ...    ...   ...    ...
2024-06-25  17.08  16.59  41.90  7.62   9.18  5.48  14.93
2024-06-26  16.77  16.80  41.45  7.87   9.01  5.56  15.16
2024-06-27  16.64  16.84  41.84  8.32   9.17  5.59  15.29
2024-06-28  16.95  16.68  41.87  8.32   9.17  5.62  14.90
2024-07-01  16.74  16.56  41.65  8.24   9.17  5.40  14.86

[5158 rows x 7 columns]

In [15]:
goldshift_df.to_csv('stock_market.csv', index=True)

In [16]:


def stock_comps_API(companies, ts):
    merged_data = pd.DataFrame()  
    
    for ticker in companies:
        data, meta_data = ts.get_daily(symbol=ticker, outputsize='full')
        close_prices = data['4. close']
        close_prices.name = ticker
        merged_data = pd.concat([merged_data, close_prices], axis=1)
        
    merged_data.index = pd.to_datetime(merged_data.index)
    data_range = pd.bdate_range(start='2004-01-01', end='2024-07-01')
    valid_dates = data_range.intersection(merged_data.index)
    merged_data = merged_data.loc[valid_dates]
    return merged_data

# Call the function
goldshift_df = stock_comps_API(companies, ts)

In [17]:
## Alfonso Codes

In [18]:
business_days = pd.bdate_range(start='2004-01-01', end='2024-07-01')
df = pd.DataFrame({'timestamp': business_days})
api_key = '5DSE3C5SKVGXPHNX'
api_function = ['BRENT','WTI','FEDERAL_FUNDS_RATE','NATURAL_GAS']
for x in api_function:
    url = f'https://www.alphavantage.co/query?function={x}&interval=daily&apikey={api_key}&datatype=csv'
    df1 = pd.read_csv(url)
    df1 = df1.rename(columns = {'value': f'{x}'})
    df1['timestamp'] = pd.to_datetime(df1['timestamp'])
    df = pd.merge(df, df1, on='timestamp', how='left')
df

      timestamp  BRENT    WTI  FEDERAL_FUNDS_RATE NATURAL_GAS
0    2004-01-01      .      .                0.94           .
1    2004-01-02  29.55      .                1.01           .
2    2004-01-05  32.30  33.71                0.97        6.28
3    2004-01-06  31.20  33.54                0.92        7.04
4    2004-01-07  30.99  33.57                0.94        6.61
...         ...    ...    ...                 ...         ...
5343 2024-06-25  86.81  81.97                5.33        2.61
5344 2024-06-26  85.76  82.19                5.33        2.45
5345 2024-06-27   87.0  83.04                5.33        2.55
5346 2024-06-28  87.26  82.83                5.33        2.42
5347 2024-07-01  86.57   84.7                5.33        2.21

[5348 rows x 5 columns]

In [19]:
df.to_csv(' commodities.csv', index=True)